<!DOCTYPE html>

<!--
Team Ye_Fanboys: Shadman Rakib, David Chong, Mark Zhu, Andy Lin
SoftDev
P01: Main Webpage
2021-10-30
-->

<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <h1>Welcome, {{name}}</h1>
  <br>
  <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/New-York/time" style="text-decoration: none" class="clock24" id="tz24-1640096275-c1179-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjFjMWUyMTM0MWQwYyIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="local time in New York" target="_blank" rel="nofollow">Time in New York</a></p><div id="clock_block_cb61c1e21341d0c"></div></div>
    <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"/>
  <style>
    .testimonial-group > .row {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    .testimonial-group > .row > .col-xs-4 {
      flex: 0 0 auto;
    }
  </style>
</head>

<br>
<br>

<body class="bg-image" style="background-image: url('{{ bgImg }}'); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 100vh; width: 100vw">
  <div class = "d-flex justify-content-center text-center">
  
    <div class="shadow p-3 mb-5 bg-white rounded">
      <h2>Current Weather at {{ weatherNow['location']['name'] }}, {{ weatherNow['location']['region'] }}</h2>
      <img src="{{ weatherNow['current']['condition']['icon'] }}">
      <h3>{{ weatherNow['current']['condition']['text'] }}</h3>
      Current temp: {{ weatherNow['current']['temp_f'] }} °F
      <br>
      RealFeel: {{ weatherNow['current']['feelslike_f']}} °F
      <br>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weatherForecast">
        See Weather Forecast
      </button>
    
      <!-- Modal -->
      <div class="modal fade" id="weatherForecast" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Weather Forecast for {{ weatherNow['location']['name'] }}, {{ weatherNow['location']['region'] }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% for forecast in weatherNow['forecast']['forecastday'] %}
                {% if forecast['hour']|length > 1 %}
                <h2>{{ forecast['date'] }}</h2>
                  <div class="container testimonial-group">
                    <div class="row text-center">
                    {% for hour in forecast['hour'] %}
                      {% if time < hour['time_epoch'] %}
                      <div class="col-xs-4">
                        <img src="{{ hour['condition']['icon'] }}">
                        <h3>{{ hour['time'].split(' ')[1] }}</h3>
                        <h4>{{ hour['condition']['text'] }}</h4>
                        <br>
                        {{ hour['temp_f'] }} °F
                      </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    To do
    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 400px">
      <h2>News</h2>
      {% for i in range(2) %}
        <a href="{{ news[i]['url'] }}">
          <img src="{{ news[i]['urlToImage'] }}" style="width: 350px">
          <h3>{{ news[i]['title'] }}</h3>
        </a>
      {% endfor %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moreNews">
        See More News Reports
      </button>

      <div class="modal fade" id="moreNews" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Latest News</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% for new in news %}
                <a href="{{ new['url'] }}">
                  <img src="{{ new['urlToImage'] }}" style="width: 350px">
                  <h3>{{ new['title'] }}</h3>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    Social Media
    <br>

    <div class="shadow p-3 mb-5 bg-white rounded" style="width: 200px">
      <h2>Kanye Quote</h2>
      <h3>{{ kanyeQuote }}</h3>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded">
      Memes

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#moreMemes">
        See More Memes
      </button>

      <div class="modal fade" id="moreMemes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">More Memes!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% for meme in memes %}
                <a href="{{ meme['url'] }}">
                  <img src="{{meme['preview'][-1]}}" style="width: 350px">
                  <br>
                  <h3>{{ meme['title'] }}</h3>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>
  <br>
  <br>
  Any Other Widgets
  <br>
  Add new Widgets
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>

</html>