<!DOCTYPE html>

<!--
Team Ye_Fanboys: Shadman Rakib, David Chong, Mark Zhu, Andy Lin
SoftDev
P01: Main Webpage
2021-10-30
-->

<html>
  <head>
    Welcome!
    <br>
    Date:
    <style>
      body {
        background-image: url('{{ bgImg }}');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
  </head>

  <br>
  <br>
  <body>

    Weather
    <br>
    To do
    <br>
    News
    <br>
    Social Media
    <br>
    Kanye Quote
    <br>
    Kanye Memes
    <br>
    Any Other Widgets
    <br>
    Add new Widgets
  </div>
</body>
</html>
